$yellow: #ffff00;
$white: #fffffe;
$green: #00d318;


@mixin text($font-size, $line-height, $color) {
    font-family: 'SimplonOI';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}




@mixin description {
   font-family: 'SimplonBP-light'; 
   font-size: 1.125rem;
   line-height: 1.375rem;

   color: $white;
}

.m-top {
    margin-top: 10rem;
}
