@import './reset';
@import './variables';

body {
    background-color: #000300;
}

main {
    width: 100%;
    height: 100%;
    max-width: 920px;
    margin: 0 auto;

    background-image: url(../imagens/form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    width: 100%;
    padding-left: 2.81rem;
    padding-right: 14rem;
    height: 36.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10.5rem;
}


.text-box-header {
    max-width: 310px;
    width: 100%;


    h1 {

        @include text(2.25rem, 2.25rem, $white);

        span {
            color: $yellow;
        }
    }

    p {
        @include description();
        margin-top: 1.25rem;
    }
}

.wave {
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.athlete-name {
    max-width: 200px;
    width: 100%;

    h1 {
        @include text(1.5rem, 1.7rem,  $yellow);

        span {
            color: $white;
            margin-left: .9rem;
        }
    }
}

.bet-container {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 21.8rem;

    input {
        max-width: 21.8rem;
        width: 100%;
        height: 40px;
        background: transparent;
        border: 1px solid $green;

        color: $white;
        padding-left: 0.6rem;
        font-family: 'SimplonBP-regular';

        font-size: 1rem;
        outline: 0;

        &:focus {
            box-shadow: 0px 0px 7px $green;
        }

    }

    input[type="text"] {
        text-transform: uppercase;
    }

    span {
        color: $green;
        font-family: 'SimplonBP-regular';
        font-size: 1rem;
        margin-bottom: 0.6rem;
    }
}

// ===============================Palpites========================= 


.bet {
    display: flex;
    flex-direction: column;
    margin-top: 2.1rem;

    h1 {
        color: $green;
        font-family: 'SimplonBP-medium';
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    button {
        width: 16.25rem;
        height: 2.8rem;
        margin-top: 3.1rem;

        background: $green;
        color: $white;

        font-family: 'SimplonBP-medium';
        font-size: 1.4rem;
        border: none;
        outline: none;
        align-self: center;
        text-transform: uppercase;
        transition: filter .2s;

        &:hover {
            filter: brightness(0.7);
            // box-shadow: 0px 0px 15px $green;
        }
    }
}

.first, .second {
    margin-bottom: 2.5rem;
}

.change-country {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag{
    width: 60px;
    height: 40px;
    position: relative;
    background-color: #04190A;
    border: 1px solid $green;
    display: flex;
    margin-right: 2.25rem;
    align-self: flex-end;

    box-shadow: 0px 0px 170px .5px $green;

    img {
        width: 100%;
        object-fit: cover;
    }

    .place {
        width:32px;
        height:32px;
        border-radius: 50%;
        background: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -65%;
        right: -15px;
        color: $white;
        font-family: 'SimplonOi';
        font-size: 1.3rem;

        box-shadow: 0px 0px 10px $green;
    }
}

.select {
    display: flex;
    flex-direction: column;
    width: 15.6rem;
    

    span {
        font-family: 'SimplonBP-regular';
        color: $green;

        font-size: 1rem;
        margin-bottom: .6rem;
    }

    > div {
        position: relative;

        img.triangle {
            position: absolute;
            right: 15px;
            top: 15px;
            pointer-events: none;
        }
    }

    select {
        max-width: 15.6rem;
        height: 2.5rem;
        width: 100%;
        background: transparent;
        border: 1px solid $green;
        -moz-appearance:none; 
        -webkit-appearance:none; 
        appearance:none;
        outline: 0;
        padding-left: .6rem;

        font-family: 'SimplonBP-regular';
        font-size: 1rem;
        color: $white;
        background: #000300;
        

        &:focus {
            box-shadow: 0px 0px 7px $green;
        }
    }
}


.medals-box {
    display: flex;
    flex-direction: column;
    max-width: 22.5rem;
    width: 100%;
    margin-left: 1.8rem;

    span {
        font-family: 'SimplonBP-regular';
        font-size: 1rem;

        color: $green;

        margin-bottom: .6rem;
    }

    > div {
        display: flex;
    }

    
    .medals {
        display: flex;

        img {
            margin-right: .8rem;
        }

        input[type="number"] {
            width: 60px;
            height: 40px;

            background: transparent;
            border: 1px solid $green;
            padding-left: .6rem;
            outline: 0;

            font-family: 'SimplonBP-regular';
            font-size: 1rem;
            color: $white;

            margin-right: 1.2rem;

            -moz-appearance:textfield;

            &:focus {
                box-shadow: 0px 0px 7px $green;
            }

            &:last-child() {
                margin-right: 0px !important;
            }

        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
        }

    }


}


// ================= Ranking ========================

.ranking {
    width: 100%;
   
    padding: 0  5.9rem;
    margin-top: 22.5rem;
    display: flex;
    justify-content: space-between;

    .ranking-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 22rem;
        width: 100%;
        padding-left: 2rem;
    }

    .athlete-name.footer {
        align-self: center;
        margin-left: 6rem;
        margin-top: 5rem;
        h1 {
            font-size: 1.1rem;
            line-height: 1.1rem;
        }
    }
}

.ranking-description {
    max-width: 18.75rem;
    width: 100%;
    margin-right: 3rem;

    h1 {
        @include text(2.5rem, 2.5rem, $yellow);
        margin-bottom: .7rem;
    }

    p {
        font-family: 'SimplonBP-light'; 
        font-size: 1.25rem;
        line-height: 1.8rem;
        
        color: $white;
    }
}

.cooperator-ranking {
    max-width: 22rem;
    width: 100%;
    margin-bottom: 8.75rem;



    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.5rem;

        li {
            color: $green;
            width: 100%;
            display: flex;
            align-items: center;
            font-family: 'SimplonBP-regular';
            font-size: 1.25rem;
            text-transform: uppercase;

            background-image: url(../imagens/bg.png);
            background-repeat: no-repeat;
            background-position: bottom;

            div {
                margin-bottom: 0.8rem;
                margin-top: 0.8rem;
                margin-left: 0.2rem;
                margin-right: 1.125rem;
            }


            div {
                width: 35px;
                height: 35px;

                border-radius: 50%;
                border: 1px solid $green;
                background: transparent;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .pod {
                background-color: $green;

                span {
                    color: #061303;
                }
            }

            span {
                font-family: 'SimplonOI';
                font-size: 1.125rem;
                margin-left: .3rem;
                margin-top: .2rem;
            }

            &:hover {
                box-shadow: 0px 0px 5px $green;
            }
        }
    }
}

.obs {
    color: $white;
    font-family: 'SimplonBP-light';
    width: 1rem;
}


@media (max-width: 768px) {

   header {
       padding-right: 5rem;
   }

   form {
       padding: 0 2rem;
   }

   .bet  {
       margin: 0 2rem;

       h1 {
           margin-top: 1rem;
       }
   }

   .input-box input {
       width: 95%;
   }

   .flag {
        width: 55px;
        height: 50px;

        .place {
            width: 28px;
            height: 28px;
        }
   }


   .ranking {
       padding: 0 3rem;
       margin-top: 19rem;
   }

   .ranking-description{
       margin-right: 2rem;
   }

}


@media (max-width: 690px) {
    .change-country {
        flex-direction: column;
    }

    .select {
        margin-bottom: 1rem;
    }


       .flag {
        width: 70px;
        height: 70px;

        .place {
            width: 35px;
            height: 35px;
        }
    }

     .select {
         width: 22.5rem;

        select {
            max-width: 22.5rem;
        }
    }

    .medals-box{
        margin-left: 0;

        span {
            margin-top: .8rem;
        }
    }

    main {
        background: url(../imagens/bg-mobile3.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ranking {
        margin-top: 14rem;
        background: url(../imagens/form-bg-ranking.png);
        background-size: cover;

        .ranking-box {
            padding-left: 0px;
        }

        .athlete-name.footer{
            align-self: auto;
            margin-left: 0;
            margin-top: 0;
        }
    }


}

@media (max-width: 560px) {
    form {
        flex-direction: column;

    }

    .bet {
        align-items: center;
        margin: 0 3rem;

        h1 {
            margin: 2.5rem 0;
        }
    }

    .input-box {
        margin-bottom: 2rem;
    }

    .athlete-name {
       margin-right: -3rem;
       margin-bottom: -2rem;
    }

    .text-box-header p {
        padding-left: 0;
    }

    .ranking {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
    }

    .ranking-description {

        margin-bottom: 2rem;

        h1 {
            margin-bottom: 1rem;
        }

        p {
            padding-left: 0px;
        }
    }

        .athlete-name.footer{
            margin-bottom: 4rem;
        }
}


@media (max-width: 515px) {
    main {
        background-size: contain;
    }

    .ranking {
        background-image: url(../imagens/bg-mobile2.png);
        padding-top: 10rem;
        margin-top:0;
    }

    .athlete-name {
        transform: translate3d(1rem, -5rem,0);
    }

    .ranking {
        margin-top: 14rem;
        background: url(../imagens/form-bg-ranking.png);
        background-size: cover;   
        background-repeat: no-repeat;
    }
}

@media (max-width: 425px) {
    .bet {
        margin: 0;
    }

    .medals-box {
        transform: translateX(-1rem);
    }

    header {
        flex-direction: column-reverse;
    }


    .athlete-name {
        display: none;
    }
}

// =============== Form return =====================


.form-return {
    width: 100%;
    height: 100%;
    max-width: 920px;
    margin: 0 auto;

    background-image: url(../imagens/congrats-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;

    h4 {
        @include text(2rem, 2.3rem, $green);
        margin-bottom: .7rem;
    }

    p {
        @include text(1.75rem, 1.7rem, $white);
        font-family: 'SimplonBP-light';
    }

}

.congrats {
    margin-bottom: -7rem;
}


@media (max-width: 690px) {

    .form-return {

        background-image: url(../imagens/bg-mobile3.png);
    }

    .message {
        h4 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}


@media (max-width: 515px) {

     .message {
        h4 {
            font-size: 1.3rem;
        }
        p {
            font-size: 1.3rem;
        }
    } 
}


@media (max-width: 480px) {

        .ranking{
            background-image: url(../imagens/form-bg-ranking.png);
        }

        .message {
        h4 {
            font-size: 1.2rem;
            line-height:1.4rem;
        }


        p {
            font-size: 1.2rem;
            line-height:1.4rem;
        }
    } 
}



.message-error {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   margin-top: 2rem;


    h4 {
        @include text(2rem, 2.3rem, $yellow);
    }

    p {
        @include text(1.75rem, 1.7rem, $white);
        font-family: 'SimplonBP-light';
    }

    h5 {
        @include text(2rem, 2.3rem, $white);
        margin-bottom: .7rem;
    }
}




@media (max-width: 690px) {

    .form-return {

        background-image: url(../imagens/bg-mobile3.png);
    }

     .message-error {
            h4 {
                font-size: 1.5rem;
            }
            h5 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
}


@media (max-width: 515px) {

      .message-error {
        h4 {
            font-size: 1.3rem;
        }
        h5 {
            font-size: 1.3rem;
        }
        p {
            font-size: 1.3rem;
        }
    } 
}


@media (max-width: 480px) {
    .form-return {
        background-size: 100%;


        // .ranking.congrats-bg {
        //     background-image: none;
        // }
    }
}

@media (max-width: 480px) {
        .message-error {
        h4 {
            font-size: 1.2rem;
            line-height:1.4rem;
        }
        p {
            font-size: 1.2rem;
            line-height:1.4rem;
        }
    } 
}


.ranking-bg {
    background-image: url(../imagens/deadline-bg.png);
    background-size: cover;

    .deadline {
        margin-top: 5rem;
    }

    header {
        align-items: center;
        padding-right: 1rem;
        
    }

}

@media (max-width: 690px) {
    .ranking-bg {
        background-image: url(../imagens/deadline-bg.png);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;

        .ranking {
            background-image: none;
        }

        .deadline {
            margin-top: 5rem;
        }

        .athlete-name {
            opacity: 0;
        }

    }

}

@media (max-width: 515px) {
    .ranking-bg {
        background-image: url(../imagens/deadline-bg.png);
    }
}



@media (max-width: 425px) {
    .ranking-bg {
        // background-image: none;
        // background-size: contain;
        // background-position: center;
        // background-repeat: no-repeat;

        .ranking {
            background-image: none;
        }

        .deadline {
            margin-top: 5rem;
        }

    }
}
.modal-error {
    max-width: 550px;
    width: 100%;
    background-color: rgb(3, 31, 3);
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h1 {
        font-size: 1.5rem;
        color: $green;
        margin-bottom: .3rem;
        font-family: 'SimplonOI';
    }

    span {
        color: $green;
    }

    .infos {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-family: 'SimplonBP-light';
    }

    p {
        color: $white;
        margin-bottom: .7rem;
          font-family: 'SimplonBP-regular';
    }


    .btn-sair {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: $white;
        background: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        position: absolute;

        top: -15px;
        right: -10px;
        box-shadow: 0px 0px 15px $green;
    }
    
}


// ============ result-page ============

.result-page {
    background-image: url(../imagens/result-bg.png);

    header {
        align-items: flex-start;
        padding-top: 12rem;
        padding-right: 1.5rem;
        padding-left: 15rem;

    }

    .final-podium {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10.5rem;
        position: relative;

        .podium-image {
            max-width: 43rem;

            img {
                width: 100%;
            }
        }

        .ranking-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12.5rem;


            .column {   
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                // max-width: 13.5rem;
                width: 100%;
                border-right: 2px solid #000;

                padding-right: 1.5rem;
                padding-left: 1.5rem;

                &:last-child {
                    border-right: 2px solid transparent;
                }

                .medals-wrapper {
                    display: flex;


                    div {
                        display: flex;
                        margin-left: 1rem;

                        span {
                            @include description();
                            margin-left: .6rem;

                        }

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .place-wrapper {
            margin-bottom: 2.25rem;

            .ctry {
               font-family: 'SimplonBP-bold';
               color: $white;
               font-size: 1.5rem;
                line-height: 2.5rem;
            }
        }

        .place-1 {
            position: absolute;
            font-family: 'SimplonBP-regular';
            color: $green;
            font-size: 1.9rem;
            line-height: 1.9rem;

            text-align: center;
            text-transform: uppercase;

            top: -10%;
            left: 41%;
        }

        .place-2 {
            position: absolute;
            font-family: 'SimplonBP-regular';
            color: $green;
            font-size: 1.5rem;
            line-height: 1.5rem;

            text-align: center;
            text-transform: uppercase;

            top: 2%;
            left: 20%;
        }

        .place-3 {
            position: absolute;
            font-family: 'SimplonBP-regular';
            color: $green;
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            text-transform: uppercase;

            top: 7%;
            right: 20%;
        }
    }
}

@media (max-width: 768px) {

    header {
        flex-direction: column-reverse;

        .athlete-name {
            margin-top: 2rem;
            margin-left: -5rem;
            
            h1 {
                font-size: 1.2rem;
            }
        }

        .text-box-header {
            margin-left: 5rem;
        }
    }

        .place-1 {
            top: -10%;
            left: 38% !important;
        }

        .place-2 {
            top: 2%;
            left: 15% !important;
        }

        .place-3 {
            top: 7%;
            right: 15% !important;
        }
}

@media (max-width: 700px) {
        .place-1 {
            top: -10%;
            left: 37% !important;
        }

        .place-2 {
            top: 2%;
            left: 11.5% !important;
        }

        .place-3 {
            top: 7%;
            right: 11.5% !important;
        }
}


@media (max-width: 625px) {
    .text-box-header{
        margin-left: 1rem !important;
    }

    .final-podium {
        max-width: 32rem;
        margin: 0 auto;
    }

    .ctry {
        font-size: 1.2rem !important;
    }

    .medals-wrapper span {
        font-size: 1rem !important;
        margin-left: .3rem !important;
    }

    .column {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }

    .place-1 {
        top: -8% !important;
        left: 37% !important;
        font-size: 1.3rem !important;
        line-height: 1.3rem !important;
    }

    .place-2 {
        top: 2% !important;
        left: 7% !important;
        font-size: 1.1rem !important;
        line-height: 1.1rem !important;
    }

    .place-3 {
        top: 6% !important;
        right: 9% !important;
        font-size: 1.1rem !important;
        line-height: 1.1rem !important;
    }
}

@media (max-width: 515px) {
    main.result-page {
        background-size: cover !important;
    }

    .column {
        align-items: center !important;
        justify-content: center !important;

        padding-right:3rem !important;
        padding-left:3rem !important;
    }

    .medals-wrapper{
        flex-direction: column;

        div {
            margin-left: 0 !important;
            margin-bottom: 1rem !important;
        }
    }

    .place-1 {
        top: -5% !important;
        left: 37% !important;
        font-size: 1.3rem !important;
        line-height: 1.3rem !important;
    }

    .place-2 {
        top: .5% !important;
        left: 7% !important;
        font-size: 1.1rem !important;
        line-height: 1.1rem !important;
    }

    .place-3 {
        top: 3% !important;
        right: 9% !important;
        font-size: 1.1rem !important;
        line-height: 1.1rem !important;
    }

    .athlete-name {
        display: none;
    }

    header {
        align-items: flex-end !important;
    }
}

@media (max-width: 460px) {
    .column {
        padding-right:2rem !important;
        padding-left:3rem !important;
    }

    header {
        padding-left: 0 !important;
    }

    .text-box-header{
        p {
            font-size: 1.3rem !important;
        }
    }
}

@media (max-width: 375px) {
    .column {
        padding-right:1!important;
        padding-left:1rem !important;
    }
}

