@import './reset.scss';
@import './variables.scss';

body {
    background-color: #fff;
}

main {
    width: 100%;
    height: 100%;
    max-width: 920px;
    margin: 0 auto;
    background-color: #010101;

}

header {
    width: 100%;
    padding-left: 2.81rem;
    padding-right: 14rem;
    height: 36.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10.5rem;
}


.text-box-header {
    max-width: 310px;
    width: 100%;


    h1 {

        @include text(2.25rem, 2.25rem, $white);

        span {
            color: $yellow;
        }
    }

    p {
        @include description();
        padding-left: 2rem;
        margin-top: 1.25rem;
    }
}

.athlete-name {
    max-width: 200px;
    width: 100%;

    h1 {
        @include text(1.5rem, 1.3rem,  $yellow);

        span {
            color: $white;
        }
    }
}

.bet-container {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 21.8rem;

    input {
        max-width: 21.8rem;
        width: 100%;
        height: 40px;
        background: transparent;
        border: 1px solid $green;

        color: $white;
        padding-left: 0.6rem;
        font-family: 'SimplonBP-regular';

        font-size: 1rem;
        outline: 0;

    }

    input[type="text"] {
        text-transform: uppercase;
    }

    span {
        color: $green;
        font-family: 'SimplonBP-regular';
        font-size: 1rem;
        margin-bottom: 0.6rem;
    }
}

// ===============================Palpites========================= 


.bet {
    display: flex;
    flex-direction: column;
    margin-top: 2.1rem;

    h1 {
        color: $green;
        font-family: 'SimplonBP-medium';
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    button {
        width: 16.25rem;
        height: 2.8rem;
        margin-top: 3.1rem;

        background: $green;
        color: $white;

        font-family: 'SimplonBP-medium';
        font-size: 1.4rem;
        border: none;
        outline: none;
        align-self: center;
        text-transform: uppercase;
    }
}

.first, .second {
    margin-bottom: 2.5rem;
}

.change-country {
    display: flex;
    align-items: center;
}

.flag{
    width: 62px;
    height: 62px;
    position: relative;
    border: 1px solid $green;
    border-radius: 50%;
    display: flex;
    margin-right: 2.25rem;

    img {
        width: 100%;
    }

    .place {
        width:32px;
        height:32px;
        border-radius: 50%;
        background: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -15%;
        right: -10px;
        color: $white;
        font-family: 'SimplonOi';
        font-size: 1.3rem;
    }
}

.select {
    display: flex;
    flex-direction: column;
    width: 15.6rem;
    

    span {
        font-family: 'SimplonBP-regular';
        color: $green;

        font-size: 1rem;
        margin-bottom: .6rem;
    }

    > div {
        position: relative;

        img.triangle {
            position: absolute;
            right: 15px;
            top: 15px;
            pointer-events: none;
        }
    }

    select {
        max-width: 15.6rem;
        height: 2.5rem;
        width: 100%;
        background: transparent;
        border: 1px solid $green;
        -moz-appearance:none; 
        -webkit-appearance:none; 
        appearance:none;
        outline: 0;
        padding-left: .6rem;

        font-family: 'SimplonBP-regular';
        font-size: 1rem;
        color: $white;
    }
}


.medals-box {
    display: flex;
    flex-direction: column;
    max-width: 22.5rem;
    width: 100%;
    margin-left: 1.8rem;

    span {
        font-family: 'SimplonBP-regular';
        font-size: 1rem;

        color: $green;

        margin-bottom: .6rem;
    }

    > div {
        display: flex;
    }

    
    .medals {
        display: flex;

        img {
            margin-right: .8rem;
        }

        input[type="number"] {
            width: 60px;
            height: 40px;

            background: transparent;
            border: 1px solid $green;
            padding-left: .6rem;
            outline: 0;

            font-family: 'SimplonBP-regular';
            font-size: 1rem;
            color: $white;

            margin-right: 1.2rem;
        }
    }


}
