* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

html {
  -webkit-font-smoothing: antialiased;
}

ul, li {
  list-style: none;
}

body {
  background-color: #000100;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 90.5%;
  }
}

@font-face {
  font-family: 'SimplonOI';
  src: url(../font-face/simplonoi-headline.ttf) format("truetype"), url(../font-face/simplonoi-headline.woff2) format("woff2"), url(../font-face/SimplonOi-Headline.eot) format("embedded-opentype"), url(../font-face/SimplonOi-Headline.woff) format("woff"), url(../font-face/simplonoi-headline_1.woff) format("woff"), url(../font-face/simplonoi-headline_1.woff2) format("woff2");
}

@font-face {
  font-family: 'SimplonBP-light';
  src: url(../font-face/SimplonBP-Light.ttf) format("truetype"), url(../font-face/SimplonBP-Light.woff) format("woff"), url(../font-face/SimplonBP-Light.eot) format("embedded-opentype");
}

@font-face {
  font-family: 'SimplonBP-regular';
  src: url(../font-face/simplonbp-regular.ttf) format("truetype"), url(../font-face/simplonbp-regular-webfont.woff) format("woff"), url(../font-face/simplonbp-regular-webfont.woff2) format("woff2"), url(../font-face/simplonbp-regular.eot) format("embedded-opentype");
}

@font-face {
  font-family: 'SimplonBP-medium';
  src: url(../font-face/SimplonBP-Medium.ttf) format("truetype"), url(../font-face/simplonbp-medium-webfont.woff) format("woff"), url(../font-face/simplonbp-medium-webfont.woff2) format("woff2"), url(../font-face/SimplonBP-Medium.eot) format("embedded-opentype");
}

body {
  background-color: #000300;
}

main {
  width: 100%;
  height: 100%;
  max-width: 920px;
  margin: 0 auto;
  background-image: url(../imagens/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  padding-left: 2.81rem;
  padding-right: 14rem;
  height: 36.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10.5rem;
}

.text-box-header {
  max-width: 310px;
  width: 100%;
}

.text-box-header h1 {
  font-family: 'SimplonOI';
  font-size: 2.25rem;
  line-height: 2.25rem;
  color: #fffffe;
}

.text-box-header h1 span {
  color: #ffff00;
}

.text-box-header p {
  font-family: 'SimplonBP-light';
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #fffffe;
  padding-left: 2rem;
  margin-top: 1.25rem;
}

.wave {
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.athlete-name {
  max-width: 200px;
  width: 100%;
}

.athlete-name h1 {
  font-family: 'SimplonOI';
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #ffff00;
}

.athlete-name h1 span {
  color: #fffffe;
  margin-left: .9rem;
}

.bet-container {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 21.8rem;
}

.input-box input {
  max-width: 21.8rem;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid #00d318;
  color: #fffffe;
  padding-left: 0.6rem;
  font-family: 'SimplonBP-regular';
  font-size: 1rem;
  outline: 0;
}

.input-box input:focus {
  -webkit-box-shadow: 0px 0px 7px #00d318;
          box-shadow: 0px 0px 7px #00d318;
}

.input-box input[type="text"] {
  text-transform: uppercase;
}

.input-box span {
  color: #00d318;
  font-family: 'SimplonBP-regular';
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.bet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.1rem;
}

.bet h1 {
  color: #00d318;
  font-family: 'SimplonBP-medium';
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.bet button {
  width: 16.25rem;
  height: 2.8rem;
  margin-top: 3.1rem;
  background: #00d318;
  color: #fffffe;
  font-family: 'SimplonBP-medium';
  font-size: 1.4rem;
  border: none;
  outline: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  -webkit-transition: -webkit-filter .2s;
  transition: -webkit-filter .2s;
  transition: filter .2s;
  transition: filter .2s, -webkit-filter .2s;
}

.bet button:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.first, .second {
  margin-bottom: 2.5rem;
}

.change-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flag {
  width: 62px;
  height: 62px;
  position: relative;
  border: 1px solid #00d318;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.25rem;
  -webkit-box-shadow: 0px 0px 170px 0.5px #00d318;
          box-shadow: 0px 0px 170px 0.5px #00d318;
}

.flag img {
  width: 100%;
}

.flag .place {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #00d318;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -15%;
  right: -10px;
  color: #fffffe;
  font-family: 'SimplonOi';
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 0px 10px #00d318;
          box-shadow: 0px 0px 10px #00d318;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15.6rem;
}

.select span {
  font-family: 'SimplonBP-regular';
  color: #00d318;
  font-size: 1rem;
  margin-bottom: .6rem;
}

.select > div {
  position: relative;
}

.select > div img.triangle {
  position: absolute;
  right: 15px;
  top: 15px;
  pointer-events: none;
}

.select select {
  max-width: 15.6rem;
  height: 2.5rem;
  width: 100%;
  background: transparent;
  border: 1px solid #00d318;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  padding-left: .6rem;
  font-family: 'SimplonBP-regular';
  font-size: 1rem;
  color: #fffffe;
}

.select select:focus {
  -webkit-box-shadow: 0px 0px 7px #00d318;
          box-shadow: 0px 0px 7px #00d318;
}

.medals-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 22.5rem;
  width: 100%;
  margin-left: 1.8rem;
}

.medals-box span {
  font-family: 'SimplonBP-regular';
  font-size: 1rem;
  color: #00d318;
  margin-bottom: .6rem;
}

.medals-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.medals-box .medals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.medals-box .medals img {
  margin-right: .8rem;
}

.medals-box .medals input[type="number"] {
  width: 60px;
  height: 40px;
  background: transparent;
  border: 1px solid #00d318;
  padding-left: .6rem;
  outline: 0;
  font-family: 'SimplonBP-regular';
  font-size: 1rem;
  color: #fffffe;
  margin-right: 1.2rem;
  -moz-appearance: textfield;
}

.medals-box .medals input[type="number"]:focus {
  -webkit-box-shadow: 0px 0px 7px #00d318;
          box-shadow: 0px 0px 7px #00d318;
}

.medals-box .medals input[type="number"]:last-child() {
  margin-right: 0px !important;
}

.medals-box .medals input::-webkit-outer-spin-button,
.medals-box .medals input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0  5.9rem;
  margin-top: 22.5rem;
}

.ranking-description {
  max-width: 18.75rem;
  width: 100%;
}

.ranking-description h1 {
  font-family: 'SimplonOI';
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #ffff00;
}

.ranking-description p {
  font-family: 'SimplonBP-light';
  font-size: 1.375rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  color: #fffffe;
  padding-left: 2.6rem;
  text-transform: uppercase;
}

.cooperator-ranking {
  max-width: 23.75rem;
  width: 100%;
  margin-bottom: 8.75rem;
}

.cooperator-ranking ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.cooperator-ranking ul li {
  color: #00d318;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SimplonBP-regular';
  font-size: 1.25rem;
  text-transform: uppercase;
  background-image: url(../imagens/bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.cooperator-ranking ul li img, .cooperator-ranking ul li div {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 1.125rem;
}

.cooperator-ranking ul li div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #00d318;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cooperator-ranking ul li span {
  font-family: 'SimplonOI';
  font-size: 1.125rem;
}

.cooperator-ranking ul li:hover {
  -webkit-box-shadow: 0px 0px 5px #00d318;
          box-shadow: 0px 0px 5px #00d318;
}

@media (max-width: 768px) {
  header {
    padding-right: 5rem;
  }
  form {
    padding: 0 2rem;
  }
  .bet {
    margin: 0 2rem;
  }
  .bet h1 {
    margin-top: 1rem;
  }
  .input-box input {
    width: 95%;
  }
  .flag {
    width: 55px;
    height: 50px;
  }
  .flag .place {
    width: 28px;
    height: 28px;
  }
  .ranking {
    padding: 0 3rem;
    margin-top: 19rem;
  }
  .ranking-description {
    margin-right: 2rem;
  }
}

@media (max-width: 690px) {
  .change-country {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .select {
    margin-bottom: 1rem;
  }
  .flag {
    width: 70px;
    height: 70px;
  }
  .flag .place {
    width: 35px;
    height: 35px;
  }
  .select {
    width: 22.5rem;
  }
  .select select {
    max-width: 22.5rem;
  }
  .medals-box {
    margin-left: 0;
  }
  .medals-box span {
    margin-top: .8rem;
  }
  main {
    background: url(../imagens/bg-mobile3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ranking {
    margin-top: 14rem;
  }
}

@media (max-width: 560px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bet {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 3rem;
  }
  .bet h1 {
    margin: 2.5rem 0;
  }
  .input-box {
    margin-bottom: 2rem;
  }
  .athlete-name {
    margin-right: -3rem;
    margin-bottom: -2rem;
  }
  .text-box-header p {
    padding-left: 0;
  }
  .ranking {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10rem;
  }
  .ranking-description {
    margin-bottom: 2rem;
  }
  .ranking-description h1 {
    margin-bottom: 1rem;
  }
  .ranking-description p {
    padding-left: 0px;
  }
}

@media (max-width: 515px) {
  main {
    background-size: contain;
  }
  .ranking {
    background-image: url(../imagens/bg-mobile2.png);
    padding-top: 10rem;
    margin-top: 0;
  }
  .athlete-name {
    -webkit-transform: translate3d(1rem, -5rem, 0);
            transform: translate3d(1rem, -5rem, 0);
  }
}

@media (max-width: 425px) {
  .bet {
    margin: 0;
  }
  .medals-box {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .athlete-name {
    display: none;
  }
}

.form-return {
  width: 100%;
  height: 100%;
  max-width: 920px;
  margin: 0 auto;
  background-image: url(../imagens/bg-return-form.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.message h4 {
  font-family: 'SimplonOI';
  font-size: 2rem;
  line-height: 2.3rem;
  color: #00d318;
}

.message p {
  font-family: 'SimplonOI';
  font-size: 2rem;
  line-height: 2.3rem;
  color: #fffffe;
}

@media (max-width: 690px) {
  .form-return {
    background-image: url(../imagens/bg-mobile3.png);
  }
  .message h4 {
    font-size: 1.5rem;
  }
  .message p {
    font-size: 1.5rem;
  }
}

@media (max-width: 515px) {
  .message h4 {
    font-size: 1.3rem;
  }
  .message p {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .form-return {
    background-size: 100%;
  }
  .form-return .ranking {
    background-image: none;
  }
}

@media (max-width: 480px) {
  .message h4 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .message p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.message-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.message-error h4 {
  font-family: 'SimplonOI';
  font-size: 2rem;
  line-height: 2.3rem;
  color: #ffff00;
}

.message-error p {
  font-family: 'SimplonOI';
  font-size: 2rem;
  line-height: 2.3rem;
  color: #fffffe;
}

@media (max-width: 690px) {
  .form-return {
    background-image: url(../imagens/bg-mobile3.png);
  }
  .message-error h4 {
    font-size: 1.5rem;
  }
  .message-error p {
    font-size: 1.5rem;
  }
}

@media (max-width: 515px) {
  .message-error h4 {
    font-size: 1.3rem;
  }
  .message-error p {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .form-return {
    background-size: 100%;
  }
  .form-return .ranking {
    background-image: none;
  }
}

@media (max-width: 480px) {
  .message-error h4 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .message-error p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
/*# sourceMappingURL=styles.css.map */